@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1B1917;
  --foreground: #171717;
  --textColor: #FF5100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1917;
    --foreground: #ededed;
  }
}

body {
  min-height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  min-height: 100vh;
}

[data-tooltip]::before {
  pointer-events: none;
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  padding: 10px;
  color: #FF5100;
  border: 1px solid;
  border-color: #706E6C;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #706E6C;
}

[data-tooltip]:hover::before {
  /* needed - do not touch */
  opacity: 1;
  font-size: 1.125rem;
  /* customizable */
  background: #292524;
  margin-top: -50px;
  margin-left: 10px;
}

input[type='file'] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

